h1 {
    color: white;
    background-color: rgb(230, 158, 99);
    margin-left: 20px;
    font-weight: bold;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    transition: width 1s, height 1.2s;
  }

h1:hover {
  width: 400px;
  height: 30px;
}