.expand {
    color: white;
    background-color: rgb(253, 157, 78);
    margin-left: 20px;
    font-weight: bold;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    float:left;
    transition: width 1s, height 1s, font-size 1s, background-color 1s;
  }


.fade {
  transition: opacity 1s;
  color: white;
  background-color: rgb(253, 157, 78);
  font-weight: bold;
  margin-left: 20px;
  width: 150px;
  height: 100px;
  border-radius: 25px;
  padding: 20px;
  float:right;
  font-family:Arial, Helvetica, sans-serif;
  transition: opacity 1s;
}
.fade:hover {
  opacity: 0;
}

.expand:hover {
  width: 300px;
  height: 200px;
  font-size: 63px;
  background-color: lightblue;
}