@font-face{
    font-family: "Consolas";
    src: url(font/Consolas.ttf) format("truetype");
    font-family: "whitrabt";
    src: url(font/whitrabt.ttf) format("truetype");
}


@keyframes default {
    from{visibility: initial;}
    to {visibility: hidden;}
}
@keyframes type {
    from {width: 0}
    to {width: 100%}
}
.cursor {
    background-color:rgb(32,194,14);;
    width: 18px;
    height: 6px;
    animation: default 1s infinite steps(2, start);
    margin-left: 3px;
    display: inline-block;
}
.test {
    font-size: 14px;
    color: rgb(32,194,14);;
}
h1 {
    overflow: hidden;
    text-align:center;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    color: rgb(32,194,14);
    padding: 20px;
    font-size: 50px;
    font-family: 'Consolas';
    animation: type 4s steps(40, end);
}
body{
    /*background-color: rgb(0,0,128);*/
    background-color: rgb(0, 121, 216);
}

a {
    padding: 5px;
    font-size: 20px;
    font-family: 'Consolas';
    color: whitesmoke;
}

h2 {
    display: inline-block;
    margin-left: 15%;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;;
}
p {
    font-size: 20px;
    letter-spacing:0.05em;
    margin-left: 10%;
    margin-right: 10%;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.horizontal{
    margin-left: 25%;
    margin-right: 25%;
    background-color: whitesmoke;
    width: 50%;
    height: 3px;
}

.black {
    border-style: solid;
    border-color: whitesmoke;
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 150px;
}

.sadface{
    padding: 10px;
    margin-left: 10%;
    font-size:100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}