
<%-include('partials/head')%>
<title>Caeleb Koharjo</title>

<body>
    <%-include('partials/navbar')%>
    <section id='introduction' class='pt-5 d-flex align-items-start flex-column'>
        <div class="container">
            <h1 class="display-3 text-light">Hey! I'm Caeleb,</h1>
            <h1 class='display-5 text-light'>a Computer Science Major at the University of British Columbia.</h1>
        </div>
        <a target='_blank' class='no-decor ml-auto mt-auto pr-2' href="https://pixabay.com/users/sebadelval-18044/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5173683">
            <footer class="blockquote-footer bg-dark text-light">Image by Sebastian Del Val <cite title="Source Title">from Pixabay</cite></footer>
        </a>
    </section>

    <section id='info' class='bg-dark'>
        <div id='toolbar' class="container-fluid">
            <div class="d-flex flex-row-reverse">
                <div class="px-2 bg-danger mx-2">x</div>
                <div class="px-2 bg-warning mx-2 ">-</div>
                <div class="px-2 bg-success mx-2 ">+</div>
                <div class="mr-auto text-dark"> Brief Introduction: </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <p id='typetext1' class='lead pt-2'><span class='cursor'></span></p>
                    <p id= 'typetext1A' class='lead highlight'></p>
                    <p id='typetext2' class='lead'></p>
                    <p id= 'typetext2A' class='lead highlight'></p>
                    <p id='typetext3' class='lead'></p>
                    <p id= 'typetext3A' class='lead highlight'></p>
                    <p id='typetext4' class='lead'></p>
                    <p id= 'typetext4A' class='lead highlight'></p>
                    <p id='typetext5' class='lead'></p>
                    <p id= 'typetext5A' class='lead highlight'></p>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <img src="/resources/imgs/profile.jpeg" class='profile mt-4' width='400em' height='400em' alt="profile picture">
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>

    </section>
    <script src="/js/animatetype.js"></script>
</body>
</html>