
<%-include('partials/head')%>


<body>
    <%-include('partials/navbar')%>
    <section id='introduction' class='pt-5 d-flex align-items-start flex-column'>
        <div class="container">
            <h1 class="display-3 text-light">Hey! I'm Caeleb,</h1>
            <h1 class='display-5 text-light'>a Computer Science Major at the University of British Columbia.</h1>
        </div>
        <footer class="blockquote-footer ml-auto mt-auto pr-2 bg-dark text-light">Image by Sebastian Del Val <cite title="Source Title">from Pixabay</cite></footer>
    </section>
</body>
</html>