<%- include('partials/head')%>
<title>Personal Projects</title>
<%- include('partials/navbar')%>
<body>
    <h1 class="display-1 text-danger text-center bg-dark" style='height:100em'>Work in Progress!</h1>
</body>
</html>